<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="BrokerPath" value="..\..\..\BrokerConsole\bin\Debug\BrokerConsole.exe"/>
    <add key="PublisherPath" value="..\..\..\BrokerConsole\bin\Debug\PublisherConsole.exe"/>
    <add key="SubscriberPath" value="..\..\..\BrokerConsole\bin\Debug\SubscriberConsole.exe"/>
  </appSettings>
</configuration>