<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="config" value="..\..\..\network.config.txt"/>
    <add key="input" value="..\..\..\input.txt"/>
    <add key="puppetmasters" value="..\..\..\puppetmasters.txt"/>
    <add key="myaddr" value="tcp://localhost:50000/CoordinatorRem"/>
    <add key="logs" value="..\..\..\log.txt"/>
    
  </appSettings>
</configuration>